html,
body {
  margin: 0;
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.resource-form {
  margin-top: 100px;
}

.active-resource {
  background-color: rgb(199, 106, 18);
  padding: 50px;
  text-align: center;
  color: white;
}

.active-resource .resource-name {
  font-size: 30px;
}

.active-resource .elapsed-time {
  font-size: 64px;
  font-weight: bold;
}

.footer {
  background-color: rgb(94, 87, 87);
  color: white;
}

.about {
  padding: 50px;
  text-align: center;
}
.aboutext {
  padding: 10px;
  text-decoration: double;
}
